@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    .h1 {
        font-size: 70px;
        font-weight: 900;
        line-height: 70px;
        font-optical-sizing: auto;
        color: white;
    }

    .p {
        font-size: 20px;
        font-weight: 400;
        line-height: 29px;
        font-family: "Karla", serif;
        color: white;
    }

    .text-h1 {
        width: 828px;
        height: 93px;
        text-align: center;
        margin-bottom: 32px;
    }
}

body {
    background-color: rgba(18, 18, 18, 1);
}

.header {
    width: 1352px;
    height: 72px;
    background-color: rgba(0, 0, 0, 1);
    display: flex;
    align-items: center;
    border-radius: 24px;
    position: absolute;
    top: 23px;
    left: 40vh;

    &__content {
        margin: 16px;
        display: flex;
        align-items: center;
    }

    &__foot {
        width: 690px;
        height: 32px;
        display: flex;
        align-items: center;
        margin-right: 439px;
    }

    &__logo {
        width: 124px;
        height: 32px;
        margin-right: 64px;
    }

    &__nav {
        width: 502px;
        height: 21px;
        display: flex;
        align-items: center;
        gap: 24px;
    }

    &__item {
        color: rgba(255, 255, 255, 1);

    }

    &__btn {
        width: 175px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgba(255, 255, 255, 1);
        font-size: 16px;
        background-color: rgba(255, 0, 0, 0);
        border: 1px solid rgba(255, 255, 255, 1);
        border-radius: 8px;
    }
}

.home {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(0deg, rgba(18, 18, 18, 1) 10%, rgba(18, 18, 18, 0) 100%), url("/img/image 3.png") no-repeat;
    background-size: cover;

    &__p {
        width: 828px;
        height: 46px;
        text-align: center;
        margin-top: 52px;
    }

    &__box {
        width: 339px;
        height: 48px;
        display: flex;
        gap: 30px;
        margin-top: 42px;
    }

    &__item {
        width: 90px;
        height: 48px;
        display: flex;
        gap: 12px;
        align-items: center;
    }

    &__logo {
        width: 32px;
        height: 32px;
    }

    &__box-txt {
        font-size: 16px;
        color: white;
    }

    &__btn {
        width: 253px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        line-height: 26px;
        border: 1px solid white;
        border-radius: 12px;
        color: white;
        background-color: rgba(240, 248, 255, 0);
        margin-top: 72px;
    }
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__games {
        width: 1008px;
        display: flex;
        gap: 24px;
        flex-wrap: wrap;
        margin-bottom: 150px;
    }

    &__btn {
        border-radius: 12px;
        cursor: pointer;
    }

    &__img {
        border-radius: 12px;
    }

    &__ser {
        width: 1101px;
        height: 522px;
        border-radius: 16px;
    }

    &__art {
        width: 488px;
        height: 442px;
    }
}

.services {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 160px;

    &__ser {
        width: 1101px;
        height: 490px;
        display: flex;
        background-color: rgba(30, 30, 30, 1);
        border-radius: 16px;

    }

    &__img-log {
        position: absolute;
        top: 2025px;
        left: 330px;
        width: 707px;
        height: 611px;
        border-radius: 40px;
    }

    &__img-logo {
        width: 707px;
        height: 611px;
    }

    &__art {
        width: 488px;
        height: 442px;
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        position: relative;
        top: 40px;
        left: 640px;
        color: white;



    }

    &__box {
        width: 224px;
        height: 181px;
    }

    &__img-art {
        margin-bottom: 24px;
    }

    &__box-h1 {
        margin-bottom: 18px;
    }

    &__box-p {
        width: 224px;
        height: 69px;
    }
}

.team {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__users {
        width: 1000px;
        height: 254px;
        display: flex;
        gap: 95px;
        margin-top: 60px;
    }

    &__box {
        width: 184px;
        height: 254px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        color: white;
    }

    &__name {
        font-size: 20px;
        font-weight: 600;
    }

    &__position {
        font-size: 16px;
    }

    &__number {
        width: 721px;
        height: 61px;
        display: flex;
        margin-top: 100px;
        color: white;
    }

    &__box-num {
        width: 403px;
        height: 61px;
        display: flex;
        gap: 20px;
    }

    &__box-num::before {
        content: " ";
        display: block;
        width: 4px;
        height: 61px;
        background-color: white;
    }

    &__1 {
        font-size: 60px;
        font-weight: 700;
        line-height: 61px;
    }

    &__2 {
        font-size: 24px;
        font-weight: 400;
        line-height: 24px;
    }
}

.video {
    display: flex;
    align-items: center;
    flex-direction: column;

    &__text-h1 {
        margin-bottom: 60px;
        margin-top: 200px;
    }

    &__img {
        width: 1180px;
        height: 594px;
        border-radius: 16px;
    }

    &__btn {
        width: 191px;
        height: 50px;
        background-color: rgba(255, 255, 255, 0);
        color: rgba(255, 255, 255, 1);
        border: 1px solid rgba(255, 255, 255, 1);
        border-radius: 12px;
        font-size: 20px;
        font-weight: 400;
        line-height: 26px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 70px;
    }
}

.category {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 100px;
    margin-top: 100px;

    &__text-h1 {
        margin-bottom: 80px;
    }

    &__cate {
        display: flex;
    }

    &__box {
        width: 274px;
        height: 149px;
        display: flex;
        flex-direction: column;
        color: white;
        margin-right: 40px;
    }

    &__box--blue::before {
        content: " ";
        display: block;
        width: 4px;
        height: 149px;
        background-color: rgba(0, 184, 255, 1);
        position: relative;
        top: 75px;
        right: 20px;
    }

    &__name--blue {
        color: rgba(0, 184, 255, 1);
    }

    &__box--red::before {
        content: " ";
        display: block;
        width: 4px;
        height: 149px;
        background-color: rgba(249, 104, 108, 1);
        position: relative;
        top: 75px;
        right: 20px;
    }

    &__name--red {
        color: rgba(249, 104, 108, 1);
    }

    &__box--green::before {
        content: " ";
        display: block;
        width: 4px;
        height: 149px;
        background-color: rgba(33, 206, 136, 1);
        position: relative;
        top: 75px;
        right: 20px;
    }

    &__name--green {
        color: rgba(33, 206, 136, 1);
    }

    &__box--violet::before {
        content: " ";
        display: block;
        width: 4px;
        height: 149px;
        background-color: rgba(178, 137, 229, 1);
        position: relative;
        top: 75px;
        right: 20px;
    }

    &__name--violet {
        color: rgba(178, 137, 229, 1);
    }

    &__name {
        font-size: 26px;
        font-weight: 700;
    }

    &__text {
        width: 274px;
        height: 92px;
        font-size: 16px;
        font-weight: 400;
    }
}

.signup {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 100px;
    width: 100%;

    &__sig {
        width: 455px;
        height: 896px;
        position: relative;
        right: -115vh;
    }

    &__img {
        position: absolute;
        z-index: 2;
        left: 220px;
        top: 4600px;
        width: 1525px;
    }

    &__text-h1 {
        width: 455px;
        height: 159px;
        color: white;
    }

    &__h1 {
        width: 455px;
        height: 85px;
        font-size: 34px;
        font-weight: 600;
        line-height: 42px;
    }

    &__p {
        width: 455px;
        height: 48px;
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
    }

    &__input {
        width: 455px;
        height: 624px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        position: relative;
        z-index: 3;
    }

    &__first-name {
        width: 405px;
        height: 4px;
        padding: 24px;
        color: rgba(255, 255, 255, 0.05);
        border: 1px solid rgba(255, 255, 255, 0.4);
        border-radius: 10px;
        font-size: 16px;
        font-weight: 600;
        outline: none;
        background-color: rgba(30, 30, 30, 1);
        color: white;
    }

    &__last-name {
        width: 405px;
        height: 4px;
        padding: 24px;
        color: rgba(255, 255, 255, 0.05);
        border: 1px solid rgba(255, 255, 255, 0.4);
        border-radius: 10px;
        font-size: 16px;
        font-weight: 600;
        outline: none;
        background-color: rgba(30, 30, 30, 1);
        color: white;
    }

    &__email {
        width: 405px;
        height: 4px;
        padding: 24px;
        color: rgba(255, 255, 255, 0.05);
        border: 1px solid rgba(255, 255, 255, 0.4);
        border-radius: 10px;
        font-size: 16px;
        font-weight: 600;
        outline: none;
        background-color: rgba(30, 30, 30, 1);
        color: white;
    }

    &__country {
        display: flex;
    }

    &__country-input {
        width: 400px;
        height: 5px;
        padding: 24px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
        border-top: 1px solid rgba(255, 255, 255, 0.4);
        border-left: 1px solid rgba(255, 255, 255, 0.4);
        border-right: none;
        border-radius: 10px 0px 0px 10px;
        font-size: 16px;
        font-weight: 600;
        outline: none;
        background-color: rgba(30, 30, 30, 1);
        color: white;
    }

    &__country-btn {
        width: 55px;
        height: 55px;
        color: rgba(255, 255, 255, 0.05);
        border: none;
        border-right: 1px solid rgba(255, 255, 255, 0.4);
        border-top: 1px solid rgba(255, 255, 255, 0.4);
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
        border-radius: 0px 10px 10px 0px;
        font-size: 16px;
        font-weight: 600;
        outline: none;
        background-color: rgba(30, 30, 30, 1);
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__msg {
        max-width: 405px;
        max-height: 88px;
        min-width: 405px;
        min-height: 88px;
        font-size: 16px;
        font-weight: 600;
        outline: none;
        background-color: rgba(30, 30, 30, 1);
        color: white;
        padding: 24px;
        border-radius: 10px;
    }

    &__check {
        width: 455px;
        height: 32px;
        display: flex;
        gap: 10px;
        color: white;
        font-size: 14px;
        line-height: 16px;
    }

    &__checkbox {
        width: 18px;
        height: 18px;
        border: none;
    }

    &__button {
        width: 455px;
        height: 68px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        border-radius: 8px;
        background-color: rgba(50, 127, 255, 1);
        color: white;
        border: none;
        cursor: pointer;
    }
}

.footer {
    margin-top: 50px;

    &__logo-box {
        width: 100%;
        height: 76px;
        display: flex;
        justify-content: center;
        margin-bottom: 26px;
    }

    &__logo {
        width: 341px;
        height: 70px;

    }

    &__msg {
        width: 100%;
        height: 155px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(26, 26, 26, 1);
    }

    &__von {
        width: 284px;
        height: 74px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        color: white;
        text-align: center;
    }

    &__box {
        display: flex;
        gap: 15px;
        width: 284px;
        height: 44px;

    }

    &__item {
        width: 44px;
        height: 44px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.1);
    }

    &__copy {
        width: 100%;
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: white;
    }
}